/* ============================================== ========================== 
   Colors
   ===================== ================================================ === */
  
  
:root {
   --purple1: #6161E8;
   --purple2: #9090E7;    
   --seablue: #B1EFEA;
   --blacktext: #324063;
   --greytext: #82858E;
   --greytext2: #C6C9D2;
   --greyborder1: #ccc;
   --greyborder2: #bbb;
   --greyborder3: #aaa;
   --greyborder4: #eee;
   --greyshadow:rgba(0, 0, 0, 0.15);
   --greyinset:rgba(0, 0, 0, 0.02);
   --white: #FFFFFF;
   --whiteshadow:rgba(255,255,255,0.8);
   
}




/* =Global
----------------------------------------------- */

body {
    background: var(--white);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

body,
button,
input,
select,
textarea {
  color: var(--greytext);
  font-family: "Avenir LT Std", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.3rem;
}

hr {
  background-color:var(--greyborder1);
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */
p {
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0 0 1.5em 3em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
b,
strong {
  font-weight: bold;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: var(--greyborder4);
  font-family:  Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}
code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted var(--greytext);
  cursor: help;
}
mark,
ins {
  background: var(--seablue);
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
button,
input,
select,
textarea {
  font-size: 100%; /* Corrects font size not being inherited in all browsers */
  margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline; /* Improves appearance and consistency in all browsers */
  *vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
  line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  *overflow: visible; /* Corrects inner spacing displayed oddly in IE6/7 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid var(--purple1);
  border-color:var(--purple1);
  border-radius: 3px;
  background:var(--purple1);
  color: var(--white);
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.4rem;
  line-height: 1;
  padding: 1.12em 1.5em 1em;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: var(--greyborder1) var(--greyborder2) var(--greyborder3) var(--greyborder2);
  -webkit-box-shadow: inset 0 1px 0 var(--whiteshadow),
    inset 0 15px 17px var(--whiteshadow),
    inset 0 -5px 12px var(--greyinset);
  -moz-box-shadow: inset 0 1px 0 var(--whiteshadow),
    inset 0 15px 17px var(--whiteshadow),
    inset 0 -5px 12px var(--greyinset);
  box-shadow: inset 0 1px 0 var(--whiteshadow),
    inset 0 15px 17px var(--whiteshadow),
    inset 0 -5px 12px var(--greyinset);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color:var(--blacktext) var(--greytext) var(--greytext) var(--greytext);
  -webkit-box-shadow: inset 0 -1px 0 var(--greyshadow),
    inset 0 2px 5px var(--greyshadow);
  -moz-box-shadow: inset 0 -1px 0 var(--greyshadow),
    inset 0 2px 5px var(--greyshadow);
  box-shadow: inset 0 -1px 0 var(--greyshadow),
    inset 0 2px 5px var(--greyshadow);
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
textarea {
  color:var(--greytext);
  border: 1px solid var(--white);
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  color:var(--blacktext);
}
input[type="text"],
input[type="email"] {
  padding: 3px;
}
textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 98%;
}

/* Links */
a {
  color: var(--purple1);
}
a:visited {
  color: var(--purple2);
}
a:hover,
a:focus,
a:active {
  color: var(--seablue);
}





