
@media all and (max-width: 1366px) and (min-width: 1025px) {
  .box {
      left: 5%;
      right: 5%;
  }
  .site-header #logo-nav {
    justify-content: normal;
  }
  
}



@media (max-width: 1024px) {
 #desktop-menu {
  display: none;
 }

 #mobile-menu {
  display: block;
 }

 .site-header {

  background-position: center;
  height: auto;

 }

 .site-header #logo-nav {

  flex-flow: row-reverse nowrap;

 }
}